.pagination {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.pagination div {
  margin: 0 2px 0 2px;
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
}

 .pagination div.active {
  background-color: #468ce9;
}

.pagination div:not(.active) {
  background-color: #535353;
}